
@import "reset";

// 主要內容

*{
  font-family: 'Roboto', '微軟正黑體',sans-serif;
  font-style: italic;
  box-sizing: border-box;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
}
.title{
  font-size: 64px;
  font-weight: 500;
  line-height: 84px;
}
h3{
  font-size: 24px;
}
.banner{
  display: flex;
  justify-content: center;
  background-image: url(../images/pop/photo-banner@2x.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 960px;
  color: #fff;
  padding-top: 353px;
  margin-bottom: 56px;
  h1{
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;
  }
  .socialMedia{
    display: flex;
    margin-top: 63px;
    li{
      width: 60px;
      margin-right: 16px;
    }
  }
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2{
    margin-bottom: 39px;
  }
  img{
    display: block;
  }
  
  > h3{
    padding: 19px 0 29px 0;
    line-height: 36px;
    font-weight: 700;
  }
  .position{
    width: 384px;
    border-top: 1px solid #000;
    padding-top: 29px;
    margin-bottom: 27px;
    h3{
      margin-bottom: 24px;
      line-height: 36px;
      font-weight: 700;
      display: inline-block;
      position: relative;
    }
    h3::before{
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #891818;
      top: 50%;
      transform: translateY(-50%);
      left: -38px;
    }
  }
}
.brand{
  background-color: #000;
  margin-bottom: 56px;
  &-content{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
      margin-bottom: 10px;
    }
    h3{
      margin-bottom: 29px;
    }
    .brand-intro{
      margin-bottom: 34px;
      p{
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        font-style: normal;
        margin-bottom: 14px;
      }
    }
    img{
      display: block;
    }
    > img{
      width: 792px;
      margin-bottom: 40px;
    }
    .imggroup{
      width: 100%;
      display: flex;
      margin-bottom: 160px;
      justify-content: space-between;
      img{
        width: 588px;
      }
    }
  }
}
.otherWorks{
  text-align: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 305px;
    bottom: 0;
    background-image: url(../images/pop/others-bg.png);
    background-position: center center;
    z-index: -1;
  }
  p{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    font-style: normal;
  }
  .others-text{
    margin-bottom: 34px;
    p{
      margin-bottom: 14px;
    }
  }
  &-list{
    display: flex;
    justify-content: space-between;
    li{
      margin-bottom: 56px;
      img{
        display: block;
        margin-bottom: 16px;
      }
      p{
        color: #fff;
      }
    }
  }
  &-list:nth-child(odd){
    div{
      width: 384px;
    }
  }
  &-list:nth-child(even){
    div{
      width: 588px;
    }
  }
}
.footer{
  background-color: #000000;
  text-align: center;
  padding: 56px 0 54px 0;
  h2{
    color: #ffffff;
    margin-bottom: 15px;
  }
  h3{
    color: #ffffff;
    line-height: 33px;
    margin-bottom: 16px;
    
  }
}